.container {
    width: 471px;
    display: flex;
    align-items: center;
    height: 168px;
    margin: 36px 39px 0px 39px;
}
.fuji_img {
    width: 126px;
    height: 168px;
    border-radius: 5px;
}

.container__data {
    margin-left: 19px;
    display: flex;
    flex-direction: column;
}

.dot__img {
    width: 7px;
    height: 9.55px;
    margin-right: 4px;
}
.local__data {
}
.country__name {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.17em;
    width: 40px;
    height: 10px;
    color: #2B283A;
    margin-right: 12px;
}
.link {
    font-weight: 400;
    width: 106px;
    height: 13px;
    font-size: 10px;
    line-height: 12px;
    text-decoration: underline;
    color: #918E9B;
}
.title {
    width: 326px;
    height: 40px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-top: 4px;
}
.period__time {
    margin-top: 7px;
    width: 319px;
    height: 11px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #2B283A;
}
.description__offer {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    width: 326px;
    height: 45px;
    line-height: 15px;
    color: #2B283A;
    margin-top: 9px;
    margin-right: 40px;
}